<%-include('header')-%>
<html>
<head>
    <title>Affirmation Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
    <style>
        body {
            font-family: "Raleway", sans-serif;
            color: white;
            background-color: #0074D9;
        }

        main {
            padding-bottom: 20px;
            margin: 0 auto;
            width: 100%;
            max-width: 900px;
        }

        .affirmation-container {
            box-sizing: border-box;
            padding: 15px;
            margin: 30px;
            font-size: 24px;
            border-radius: 5px;
            background-color: white;
            text-align: center;
        }
        .alertsPanel h2 {
            padding: 5px;
            background-color: red;
            color: white;
        }

        section button, section a {
            text-align: center;
            color: white;
            border: none;
            font-size: 18px;
            text-decoration: none;
            font-family: "Raleway", sans-serif;
            padding: 10px 25px 10px 25px;
            outline: none;
            margin: 5px;
        }
        section p {
       font-size: 90px;
        }

        footer {

        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hello! This is affirmations for you! Read them and repeat yourself!</h1>
    <main>
        <section class="affirmation-container">
            <p class="affirmation"></p>
            <p><button onclick="changeAffirmation()">Change Affirmation</button></p>
        </section>


    </main>

<footer>

</footer>
<script>

        const affirmations = [
            "All of my problems have a solution.",
            "I love myself.",
            "I am an important person.",
            "I can do anything that I set my mind too.",
            "I am the architect of my life. I build its foundation and choose its contents.",
            "I have been given endless talents which I will utilize everyday.",
            "My ability to conquer my challenges is limitless; my potential to succeed is infinite.",
            "I am blessed with incredible friends.",
            "I take pleasure in my own solitude.",
            "I have as much brightness to offer the world as the next person.",
            "This situation works out for my highest good.",
            "I may not understand the good in this situation, but it is there.",
            "I trust myself to make the best decision for me.",
            "My positivity makes other strive to be positive too.",
            "I help others see their worth.",
            "I am a ray of sunshine.",
            "I will not stress over things I cannot control.",
            "I have touched and continue to touch many lives.",
            "I will work on seeing only the positives and block out the negatives of life.",
            "I am courageous; willing to act despite my fears.",
            "I execute my plan and produce expected results.",
            "I am able to solve my problems creatively.",
            "I have all that I need to make this a great day in my life.",
            "I fully accept myself.",
            "Everything in my life has a purpose.",
            "I am worth loving.",
            "Challenges are opportunities to grow and improve.",
            "I am my best source of motivation.",
            "I aspire to be a giver; a giver of love, a giver of strength; a giver of hope.",
            "Good things are coming my way.",
            "I love who I am.",
            "I am proud to be me.",
            "I am worthy of love.",
        ]



        const colors = [
        "#B1A2CA", "#fbf8cc","#fde4cf","#ffcfd2","#f1c0e8","#cfbaf0","#a3c4f3"
        ];
        function getAffirmations() {
        for (let i = 0; i < affirmations.length; i++) {
        console.log(affirmations[i]);
    }
    }

        function getRandomAffirmation() {
        let randomNumber = Math.floor(Math.random() * affirmations.length);
        return affirmations[randomNumber];
    }

        function getRandomColor() {
        const randomNumber = Math.floor(Math.random() * colors.length);
        const color = colors[randomNumber];
        return color;
    }

        function changeAffirmation() {
        const affirmation = getRandomAffirmation();
        const randomColor = getRandomColor();

        $(".affirmation").text(affirmation);
        $("section p").animate({color: randomColor}, 300);
        $("body").animate({backgroundColor: randomColor}, 300);
        $("section p button").animate({backgroundColor: randomColor}, 300);
        $("section p a").animate({backgroundColor: randomColor}, 300);
    }

        $(function() {
        changeAffirmation();
    })
</script>


</script>
</body>
</html>
