<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JAYBARAQAT</title>
    <link rel="stylesheet" href="css/style.css">


</head>
<body>
<header>
    <div class="header_logo">
        <img src="img/logo.png" ></div>
    <nav><div class="topnav" id="myTOPNAV">
            <a href="/">HOME</a>
            <a href="#">ABOUT</a>
            <a href="/med">MEDITATION</a>
            <a href="/aff">AFFIRMATION</a>

            <a href="" id="menu" class="icon">&#9776</a>

            <a href="#" class="button">
                <button class="sign">SIGN UP</button>
                <button class="sign1" href="#">LOG IN</button>
            </a>
        </div>
    </nav>
</header>