<%-include('header')-%>
<!--END OF HEADER-->
<div class="container1">


    <div class="detail-box">

        <div class="detail-container">
            <h1>
                JAYBARAQAT

            </h1>
            <h3>[jaibarakat]</h3>
            <h2>adverb. feeling of making or becoming less tense or anxious.</h2>
        </div>
    </div>
    <div class="img-box">
        <img src="img/f1.png" alt="">
    </div>

</div>
<!-- WHO WE ARE SECTION -->

<div class = "content">
    <div class="title">
        <h2>Who We Are?</h2>
    </div>

    <div class = "textbox">
        <a>Our site will help people clear their minds of negative and disturbing thoughts, as well as learn more about mental health by monitoring their well-being daily, reading useful articles, listening to podcasts and meditations, affirmations.</a>
    </div>

    <div class = "image">
        <img src="img/prog.png">
    </div>



</div>



<script src="js.js"></script>
</body>

</html>