<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JAYBARAQAT</title>
    <link rel="stylesheet" href="css/medstyle.css">

    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>

</head>
<body>
<header>
    <div class="header_logo">
        <img src="img/logo.png" ></div>
    <nav><div class="topnav" id="myTOPNAV">
        <a href="/index">HOME</a>
        <a href="#">ABOUT</a>
        <a href="/med">MEDITATION</a>
        <a href="/aff">AFFIRMATION</a>

        <a href="" id="menu" class="icon">&#9776</a>

        <a href="#" class="button">
            <button class="sign">SIGN UP</button>
            <button class="sign1" href="#">LOG IN</button>
        </a>
    </div>
    </nav>
</header>
<h1>MEDITATION PAGE</h1>

<div id="vk_podcast"></div>
<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-120376415_456239242', '87e3ea29cfd350c30e');
</script>

<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-187677012_456239148', '87e3ea29cfd350c30e');
</script>

<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-47577487_456239026', '87e3ea29cfd350c30e');
</script>
<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-62398004_456239398', '87e3ea29cfd350c30e');
</script>







</body>
</html>