*{
    margin: 0;

    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    width: 100%;
    display: flex;

}
.header_logo{
    margin-top: 32px;
    margin-left: 10.5%;



}
body{
    background-image: url('/public/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;


    margin: 0;

}
nav{
    margin-top: 45px;
    margin-left: 2%;
}
.container1 h3, h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;

}
.sign, .sign1{

    justify-content: space-between;
    background-color:#EDE9E7;
    border-color: #B44715;
    color: black;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-size: 20px;
    font-weight:lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sign1{
    margin-right: 30px;
}
.sign .sign1:hover {
    background-color: palevioletred; /* Green */
    color: white;
}
.topnav a{
    color:#B44715;
    text-align: center;
    padding: 20px 36px;
    font-size: 30px;
    font-weight:lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.topnav a:hover{
    color: #2B1392;
}
.topnav .icon{
    display: none;
}

@media screen and (max-width:1200px){
    nav{
        margin-left: 20%;
    }
}
@media screen and (max-width:1105px){
    nav{
        margin-left: 10%;
    }
}
@media screen and (max-width:1000px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #2B1392 ;
        font-size: 25px ;
    }

    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;


    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;

    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align:left;
    }


}

/* hero section */
.container1 {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: max-content;
}


.container1 .img-box {
    width: 70%;

}

.container1  .img-box img {
    width: 70%;

}

.container1  .detail-box {
    width: 70%;

}


.container1 .detail-box .detail-container {
    padding-left: 350px;
    padding-bottom: 80px;
}
.container1 .detail-box .detail-container h1 {
    font-size: 80px;
    font-weight:bold;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #B44715 ;
}
.detail-container span{
    color: #2B1392;
}
.btn{
    border-color:#FF93DD;
    background-color: #FF93DD;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white ;
    font-size: 25px;

    margin-right: 50px;
    border-radius: 30px;
    margin-top: 5%;
    width: 50%;
    box-shadow: none;
}
/*WHO*/

.content{
    position: relative;
    padding: 0px 150px 200px 150px;

}
.content .title{
    position: relative;
    color: #6F5ACD;
    line-height: 90px;
    font-size: 55px;
    margin-top: 110px;
}


.content .textbox{
    position: relative;
    color: #2D2D2D;
    font-size: 20px;
    align-content: center;
    width: 42%;
    margin-top: 20px;
}
.content .title .textbox{
    padding: 100px;

}
.content .textbox span{
    color: #2D2D2D;
    font-weight: 700;
    color: #6652bd;
}
.image img{
    position: relative;
    margin-top: 100px;
    width: 490px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.chart{
    align-items: center;

}

.chart img{
    position: absolute;
    width: 750px;
    right: 8%;
    bottom: 10%;
}
.chart p {
    position: absolute;
    font-size: 15px;
    color: #2D2D2D;
    float: right;
    right: 5%;
    bottom: 5%;
    width: 40%;
}

@media (max-width: 576px) {
    .container1  {
        flex-direction: column;
    }

    .container1 .img-box {

        width: 90%;
    }

    .container1 .detail-box {
        width: 97%;

    }

    .container1 .detail-box .detail-container {
        padding-left: 0;
        padding-top: 35px;
    }


}

@media (max-width: 768px) {

    .container1 {
        width: 95%;
    }

    .container1 .detail-box {
        padding-bottom: 125px;
    }
}







.mission{
    background-color: #6F5ACD;

    height: 150%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.infa{
    background: #543eb5;
    flex: 0 33%;


    height: 550px;
    width: 225px ;

    padding: 30px;
    margin: 15px;

    object-fit: cover;
    object-position: center;
    position: relative;

    border-radius: 10px;
    box-shadow: 5px 5px 5px -5px rgba(218, 199, 246, 0.6);
}
